.parent {
    max-width: 636px;
    margin: 0 auto;
}
.parent .avatar {
    position: relative;
}
.parent .avatar .cameraIcon {
    position: absolute;
    bottom: 30px;
    right: -25px;
    z-index: 999;
    color: aqua;
}

.avatar img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-top: 50px;

    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.updatebtn {
    margin-bottom: 12px;
    text-align: center;
    min-height: 30px;
}

.holder {
    display: flex;
    justify-content: space-evenly;
    margin: 18px 0;
    padding-bottom: 12px;
    border-bottom: 1px solid grey;
}

.holder .details {
    min-width: 230px;
}

.flex {
    display: flex;
    justify-content: space-between;
}
.wd30 {
    width: 30%;
}
.wd70 {
    width: 70%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery .item {
    width: 30%;
}
